{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}.</p>
		<p><input class='btn' type="button" value="Logout" onClick="document.location.href='/logout';" /></p>
{% else %}
	{% if form.errors %}
		<p style="margin-top: 8px">Your username and password didn't match. Please try again.</p>
	{% else %}
		<h2 style="margin-top: 8px">Please log in.</h2>
	{% endif %}

	<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<table>
	<tr>
	    <td style="padding-right: 8px;">{{ form.username.label_tag }}</td>
	    <td>{{ form.username }}</td>
	</tr>
	<tr>
	    <td style="padding-right: 8px;">{{ form.password.label_tag }}</td>
	    <td>{{ form.password }}</td>
	</tr>
	</table>

	<input class='btn' type="submit" value="Log in" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
{% endif %}
{% endblock %}
